    
   
    <div>
        <h1> {{ title }} </h1>
    </div>
    <div>
        <h2> {{quest_giver }} </h2>
    </div>
    <div>
        <p> {{rewards  }} </p>
    </div>
    <div>
        <p> {{locations }} </p>
    </div>

 