div>
    <h1> {{ quest.title }} </h1>
</div>
<div>
    <h2> {{ quest.quest_giver }} </h2>
</div>

 {{#each quest}}
<div>
    <p> {{ rewards }} </p>
</div>
<div>
    <p> {{ locations }} </p>
</div>
{{/each}}