{{!-- A show view (views/show.hbs) for a Quest that, displays the Quests's title, quest_giver, rewards and locations. --}}
<ul>
    <li> {{ quest.title }} </li> 

   <li> {{ quest.quest_giver }} </li>

    <li>{{ quest.rewards }}</li>

    <li>{{ quest.locations }}</li>
</ul>