{{!-- // t, displays the Quests's title, quest_giver, rewards and locations. --}}

{{#if quest}}
<div>
    Title: {{quest.title}}
</div>
<div>
    Quest Giver: {{quest.quest_giver}}
</div>
<div>
    Rewards: {{quest.rewards}}
</div>
<div>
    Locations: {{quest.locations}}
</div>
{{/if}}